  html, body {
    overflow-x: hidden
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 300
  }

  a.focus, button {
    color: white;
    background: #243342
  }

  a.focus:hover, button:hover {
    cursor: pointer;
    color: #1bf1dc
  }

  .myHover:hover {
    background-color: #de27db;
    color: #16f1d7;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #243342;
    border-radius: 7px;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgb(36, 51, 66)
  }

  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%
  }

  nav .hamburger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 3;
    opacity: 0;
    pointer-events: none
  }

  nav .hamburger:hover {
    cursor: pointer
  }

  nav .hamburger:hover span.slice {
    background-color: #b9bbbd
  }

  nav .hamburger span.slice {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.2s ease-in-out
  }

  nav.open .hamburger span.cheese.slice {
    opacity: 0
  }

  nav.open .hamburger span.lettuce.slice {
    transform-origin: center left;
    transform: rotate(43deg)
  }

  nav.open .hamburger span.beef.slice {
    transform-origin: center left;
    transform: rotate(-43deg)
  }

  nav.open .linkWrapper {
    opacity: 1;
    display: flex;
    pointer-events: initial
  }

  nav h1 {
    color: white;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 1.2px
  }

  nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 300;
    letter-spacing: 1.2;
    border: none;
    margin: 0
  }

  a.active {
    color: #16f1dc;
    font-weight: 500
  }

  .myMbMargin {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem
  }

  .MyPortfolioGrid {
    margin-left: 2rem;
  }

  @media screen and (max-width: 767px) {
    .container {
      align-items: center;
    }
  }

  @media screen and (max-width: 875px) {
    .MyPortfolioGrid {
      margin-left: 0rem
    }
    .btn {
      margin-left: 7rem
    }
  }